<style>
    table, td,tr,th{
      border:1px solid black;
      margin: auto;
    }
    </style>

<table>
    <tr>
      <th>No</th>
      <th>Food Category</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Snack</td>
      <td><button>Delete</button> </td>     
    </tr>
    <tr>
      <td>2</td>
      <td>Minuman</td>
      <td><button>Delete</button></td>
      </td>          
    </tr>
    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        </td>          
      </tr>
    <tr>
        <td>etc</td>
        <td>etc</td>
        <td>etc</td>
        </td>          
    </tr>
  </table>