<style>
    table, td,tr,th{
      border:1px solid black;
      margin: auto;
    }
    </style>

<table>
    <tr>
      <th>No</th>
      <th>Food Category</th>
      <th>Action</th>
    </tr>
    {% for i in category %}
    <tr>
      <th>{{forloop.counter}}</th>
      <th>{{i.0}}</th>
      <th><button type="button" class="btn btn-warning"><a href="{% url 'foodcategory:delete_food_category' i.0 %}"style="color:#ffffff; text-decoration: none;">delete</a></button></th>
    </tr>
    {% endfor %}
  </table>