
<h1 style="text-align:center ;">INPUT FOOD DELIVERY ADDRESS</h1>


<div>


    <form method="POST" action="">
        <table style="margin-left:auto ; margin-right:auto">
            <tr>
                <td>Street: </td>
                <td><input type="text" name="Street" placeholder="Street" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>District: </td>
                <td><input type="text" name="District" placeholder="District" class="form-control"></td>
            </tr>

            <tr>
                <td>City: </td>
                <td><input type="text" name="City" placeholder="City" class="form-control"></td>
            </tr>

            <tr>
                <td><label for="lang">DELIVERY_FEE_PER_KM:</label></td>
                <td>   
                <select name="languages" id="lang">
                    <option value="ID">ID</option>
                    <option value="Province">Province</option>
                    <option value="Motor Fee">Motor Fee</option>
                    <option value="Car Fee">Car Fee</option>           
                    </select> 
                </td> 
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="CONTINUE  "></td>
            </tr>
        </table>
    </form>



        

</div>

