<style>
    table, td,tr,th{
      border:0.5px solid black;
      margin: auto;
    }
    </style>

<table>
    <tr>
      <th>No</th>
      <th>Restaurant</th>
      <th>Time of order creation</th>
      <th>Order Status</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Warung Mantap Depok</td>
      <td style="text-align:center ;">2022-11-04 <br> 11:30:05</td>
      <td>Waiting for Restaurant Confirmation</td>
      <td><button>Details</button></td>
      
    </tr>
    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        </td>          
      </tr>


    <tr>
        <td>etc</td>
        <td>etc</td>
        <td>etc</td>
        <td>etc</td>
        <td>etc</td>
        </td>          
    </tr>
  </table>