<style>
    table ,td,th{
      border:0.5px solid black;
      margin:auto
    }
    .proceed{
      margin: 0;
      position: absolute;
      
      left: 50%;
      -ms-transform: translate(-60%, -50%);
      transform: translate(-50%, -120%);
    }

</style>

<h1 style="text-align:center;">ORDER LIST</h1>
<table>
    <tr>
      <th>No</th>
      <th>Food Name</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Item Total Price</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Ayam Goreng</td>
      <td>5000</td>
      <td>1</td>
      <td>5000</td>     
    </tr>
    <tr>
        <td>2</td>
        <td>Ice Cream</td>
        <td>3000 </td>
        <td>2</td>    
        <td>6000</td>      
    </tr>

    <tr >
        <td colspan="4"  style="text-align:center">Total Price</td>
        <td>11000</td>
    </tr>

    <tr >
        <td colspan="5">
            <p>Delivery Method: Motor <br>
            Payment Method: RestoPay</p>
        </td>
        
    </tr>

    <tr >
        <td colspan="5">
        <p>Total Discount: 0<br>
           Delivery Fee: 4000 <br>
           Total Price: 15000
        </p><br>
        <button class="proceed">PROCEED TO PAYMENT</button>        
        </td>
    </tr>

  </table>