<div style="text-align: center">
<h1>Order Summary</h1>



<p>Time of order creation: 2022-11-04 11:30:05
<br><br>
Customer Name: Mikayla Putri<br>
Street: Jalan Bahagia nomor 72<br>
District: Cinere<br>
City: Depok<br>
Province: Jawa Barat<br><br>
<p>
Food ordered:<br>
Ayam Goreng (1) - [Notes if any]<br>
Ice Cream (2) - [Notes if any]<br>
Total Food Price: 11000<br>
Total Discount: 0<br>
Delivery Fee: 4000<br>
Total Price: 15000<br>
Payment method: RestoPay<br><br>

Payment Status: Success<br>
Order Status: Waiting for Restaurant Confirmation<br><br>

Courier: - <br>
Number Plate: - <br>
Vehicle Type: - <br>
Vehicle Brand: - <br>

</p>

<button>Back</button>

</div>