<style>
    table, td,tr,th{
      border:1px solid black;
      margin: auto;
    }

</style>

<table>
    <tr>
      <th>No</th>
      <th>Food Name</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Notes
        (Optional)</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Ayam Goreng</td>
      <td>5000</td>
      <td><button>-</button>1<button>+</button></td>
      <td><button>Add Notes</button></td>     
    </tr>
    <tr>
        <td>2</td>
        <td>Ice Cream</td>
        <td>3000 </td>
        <td><button>-</button>2<button>+</button></td>    
        <td><button>Add Notes</button></td>      
    </tr>

    <tr>
        <td>3</td>
        <td>Ikan Bakar</td>
        <td>5000 </td>
        <td><button>-</button>0<button>+</button></td>    
        <td></td>      
    </tr>

    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        </td>          
      </tr>


    <tr>
        <td>etc</td>
        <td>etc</td>
        <td>etc</td>
        <td>etc</td>
        <td>etc</td>
        </td>          
    </tr>

    <tr ><td colspan="5"  style="text-align:center">SELECT</td></tr>
    <tr >
        <td colspan="5" style="text-align: center ;">
            <label for="lang">Delivery Method:</label>
            <select name="languages" id="lang">
              <option value="Car">Motor</option>
              <option value="Motorcycle">Car</option>
           
        </select>
        
        <br>
        <label for="lang">Payment Method:</label>
              <select name="languages" id="lang">
              <option value="ID">ID</option>
              <option value="Name">Name</option>           
              </select>
        <br>
        <button >CREATE ORDER</button>
        
    
    </tr>
  </table>