<html>
    <style>
        .center{
      margin-left: auto;
      margin-right: auto;
      padding-top: 30px; 
    }
    h1 {text-align: center;}
    
    .container{  
    text-align: center;  
    padding-top: 30px; 
    }  
    .btn{  
    text-align: center;
    }  
    
    </style>

<body>
    <table class="center">
        <h1>Restaurant Details: [Name - Restaurant Branch]</h1>
        <tr>
            <td>Restaurant Name: [text]</td>
        </tr>    
        <tr>
            <td>Branch: [text]</td>
        </tr>
        <tr>
            <td>Phone number: [text]</td>
        </tr>
        <tr>
            <td>Street: [text]</td>
        </tr>
        <tr>
            <td>District: [text]</td>
        </tr>
        <tr>
            <td>City: [text]</td>
        </tr>
        <tr>
            <td>Province: [text]</td>
        </tr>
        <tr>
            <td>Rating: [text, set default to 0 if not inputted yet]</td>
        </tr>
        <tr>
            <td>Restaurant Category: [text]</td>
        </tr>
        <tr>
            <td>Operational Hours:</td><br>
            <td>[texts in the form of a list]</td>
        </tr>
        <tr>
            <td>Ongoing Promos:</td><br>
            <td>[texts in the form of a list]</td>
        </tr>
    </table>
    <div class="container">  
        <tr>
            <td><input class="btn" type="submit" value="Back"></td>
        </tr>
    </div>
    
    
</body>
</html>