<html>

    <style>
        .center{
      margin-left: auto;
      margin-right: auto;
    }
    
    h1 {text-align: center;}
    
    .btn{  
    text-align: center;
    }  
    table,th,td {
        border: 1px solid black;
    }
    
    </style>

<body>

    <table class="center">
        <tr>
        <th>No</th>
        <th>Restaurant's branch</th>
        <th>Rating</th>
        <th>Action</th>
        </tr>
        
        <tr>
            <th>1</th>
            <th>KFC Depok</th>
            <th>Roti dengan isian coklat dan keju yang dibakar</th>
            <th>4.3</th>
            <th><button type="button">Details</button><br>
                <button type="button">Menu</button></th>
        </tr>
    
    </table>
    
    
</body>
    

</html>