<html>

    <style>
        .center{
      margin-left: auto;
      margin-right: auto;
    }
    
    h1 {text-align: center;}
    
    .btn{  
    text-align: center;
    }  
    table,th,td {
        border: 1px solid black;
    }
    
    </style>

<body>

    <table class="center">
        <tr>
        <th>No</th>
        <th>Food Name</th>
        <th>Description</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Food Category</th>
        <th>Ingredients</th>
        <th>Action</th>
        </tr>
        
        <tr>
            <th>1</th>
            <th>Roti Bakar Coklat Keju</th>
            <th>Roti dengan isian coklat dan keju yang dibakar</th>
            <th>10</th>
            <th>8000</th>
            <th>Snack</th>
            <th>Roti, Mentega, Coklat, Keju</th>
            <th><button type="button">Edit</button><br>
                <button type="button">Delete</button></th>
        </tr>
    
    </table>
    
    
</body>
    

</html>