<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Create Ingredient</title>
</head>

<body>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ingredient</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for ing in ingredient %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ ing.1 }}</td>
          {% if ing.2 == 0 %}
          <td>
            <a href="{% url 'Ingredients:delete_ingredient' ingredient_id=ing.0 %}">
              <button class="btn btn-danger">Delete</button>
            </a>
          </td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

<script>
  
</script>

</html>