<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Create Ingredient</title>
</head>

<body>
  <form method="POST" class="needs-validation p-3">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">New Ingredient</label>
      <input type="text" class="form-control" name="ingredient_name" required>
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
  </form>
</body>

</html>